[submodule "plantdb"]
	path = plantdb
	url = https://github.com/romi/plantdb.git
[submodule "romiseg"]
	path = romiseg
	url = https://github.com/romi/romiseg.git
[submodule "plant-imager"]
	path = plant-imager
	url = https://github.com/romi/plant-imager.git
[submodule "romicgal"]
	path = romicgal
	url = https://github.com/romi/romicgal.git
