[submodule "plantdb"]
	path = plantdb
	url = https://github.com/romi/plantdb.git
[submodule "romiseg"]
	path = romiseg
	url = https://github.com/romi/romiseg.git
[submodule "romicgal"]
	path = romicgal
	url = https://github.com/romi/romicgal.git
[submodule "romitask"]
	path = romitask
	url = https://github.com/romi/romitask.git
[submodule "dtw"]
	path = dtw
	url = https://github.com/romi/dtw.git
[submodule "skeleton_refinement"]
	path = skeleton_refinement
	url = https://github.com/romi/skeleton_refinement.git