# -*- coding: utf-8 -*-
pywavefront
trimesh
appdirs
colorlog
#cython==0.29.22
docker
imageio
luigi>= 2.8.11
pandas==1.2.5 # there is a mismatch version with cython inside networkx setup
networkx
open3d>= 0.9.0.0  # open3d== 0.9.0.0
opencv-python== 4.2.0.34
pybind11
pyopencl== 2020.2.2
scikit-image
toml>= 0.10.2
tqdm
