# -*- coding: utf-8 -*-
appdirs
colorlog
docker
imageio
luigi>= 2.8.11
open3d>= 0.9.0.0  # open3d== 0.9.0.0
opencv-python== 4.2.0.34
pybind11
pyopencl
# pywavefront  # Changed to optional as only used in romiscan/romiscan/tasks/evaluation.py
toml
tqdm
# trimesh  # Changed to optional as only used once in romiscan/romiscan/tasks/evaluation.py
