{% extends "base.html" %}

{% block title %}WebTerm - Login{% endblock %}

{% block body_class %}centered-layout{% endblock %}

{% block head_scripts %}
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
{% endblock %}

{% block content %}
<!-- Container for login form and logo -->
<div class="form-container">
    <div class="content-box">
        <!-- Logo section with image -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/ROMI_logo_green.svg') }}" alt="P3DV Logo">
        </div>
        <h1>P3DV - WebTerm</h1>
        <h2>Secure Terminal Access</h2>

        <!-- Login form that sends a POST request to "/login" endpoint -->
        <form action="{{ url_for('webterm.login') }}" method="post">

            <!-- Input group for username -->
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>

            <!-- Input group for password -->
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <!-- Submit button to send login form data -->
            <button type="submit" class="primary-button">Login</button>
        </form>

        <!-- Conditional error message display if 'error' is defined in context -->
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}