{% extends "base.html" %}

{% block title %}WebTerm - User Profile{% endblock %}

{% block content %}
<div class="form-container">
    <div class="content-box">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/ROMI_logo_green.svg') }}" alt="P3DV Logo">
        </div>
        <h1>User Profile</h1>

        <h3>User Information</h3>
        <div class="input-group">
            <label>Full Name</label>
            <p>{{ full_name }}</p>
        </div>
        <div class="input-group">
            <label>Username</label>
            <p>{{ username }}</p>
        </div>

        <h3>Change Password</h3>
        <form id="changePasswordForm">
            <div class="input-group">
                <label for="current_password">Current Password</label>
                <div class="password-container">
                    <input type="password" id="current_password" name="current_password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility('current_password')">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>
            </div>
            <div class="input-group">
                <label for="new_password">New Password</label>
                <div class="password-container">
                    <input type="password" id="new_password" name="new_password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility('new_password')">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>
            </div>
            <div class="input-group">
                <label for="confirm_new_password">Confirm New Password</label>
                <div class="password-container">
                    <input type="password" id="confirm_new_password" name="confirm_new_password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility('confirm_new_password')">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>
            </div>
            <button type="submit" class="primary-button">Change Password</button>
        </form>

        <div class="nav-bar">
            <div>
                <a href="{{ url_for('webterm.terminal') }}"><i class="bi bi-terminal"></i> Back to Terminal</a>
                <br>
                <a href="{{ url_for('webterm.logout') }}"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </div>
        </div>

        <div id="result" class="result" style="display: none;"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Custom JS for client-side functionality, loaded after the page is parsed -->
    <script src="{{ url_for('static', filename='js/user_profile.js') }}" defer></script>
{% endblock %}