@import 'webterm.css';

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: #1e2127;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.login-button {
    width: 100%;
}